 
h1 {
    text-align: center;
}
div {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}



.about {
    margin-left: 5em;
    margin-right: 5em;
    text-align:left;
    font-size: 20;
}

.title {
    text-align: left;
}

.thumbNail {
    height: 300px;
    width:  500px;
    display: block;
    margin-left: 5em;

}

#sketch {
    padding: 5em;
    height:1200;
    width:100%;
}

iframe {
    margin:5em;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}